simulator-ws/src/main/resources/wsdl/prodam.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.prefeitura.sp.gov.br/nfe" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.prefeitura.sp.gov.br/nfe" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.prefeitura.sp.gov.br/nfe">
      <s:element name="EnvioRPSRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioRPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioLoteRPSRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnvioLoteRPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TesteEnvioLoteRPSRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TesteEnvioLoteRPSResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelamentoNFeRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelamentoNFeResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaNFeRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaNFeResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaNFeRecebidasRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaNFeRecebidasResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaNFeEmitidasRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaNFeEmitidasResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaLoteRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaLoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaInformacoesLoteRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaInformacoesLoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaCNPJRequest">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="VersaoSchema" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="MensagemXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaCNPJResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="RetornoXML" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TesteEnvioLoteRPSSoapIn">
    <wsdl:part name="parameters" element="tns:TesteEnvioLoteRPSRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnvioLoteRPSSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioLoteRPSResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TesteEnvioLoteRPSSoapOut">
    <wsdl:part name="parameters" element="tns:TesteEnvioLoteRPSResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaNFeEmitidasSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaNFeEmitidasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaInformacoesLoteSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaInformacoesLoteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelamentoNFeSoapIn">
    <wsdl:part name="parameters" element="tns:CancelamentoNFeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaNFeSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaNFeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaCNPJSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaCNPJResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaLoteSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaLoteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaNFeRecebidasSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaNFeRecebidasResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnvioRPSSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioRPSResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnvioRPSSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioRPSRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnvioLoteRPSSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioLoteRPSRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelamentoNFeSoapOut">
    <wsdl:part name="parameters" element="tns:CancelamentoNFeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaNFeSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaNFeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaLoteSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaLoteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaNFeRecebidasSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaNFeRecebidasRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaNFeEmitidasSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaNFeEmitidasRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaInformacoesLoteSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaInformacoesLoteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConsultaCNPJSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaCNPJRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LoteNFeSoap">
    <wsdl:operation name="EnvioRPS">
      <wsdl:input message="tns:EnvioRPSSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:EnvioRPSSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioLoteRPS">
      <wsdl:input message="tns:EnvioLoteRPSSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:EnvioLoteRPSSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TesteEnvioLoteRPS">
      <wsdl:input message="tns:TesteEnvioLoteRPSSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:TesteEnvioLoteRPSSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelamentoNFe">
      <wsdl:input message="tns:CancelamentoNFeSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:CancelamentoNFeSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNFe">
      <wsdl:input message="tns:ConsultaNFeSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:ConsultaNFeSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNFeRecebidas">
      <wsdl:input message="tns:ConsultaNFeRecebidasSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:ConsultaNFeRecebidasSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNFeEmitidas">
      <wsdl:input message="tns:ConsultaNFeEmitidasSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:ConsultaNFeEmitidasSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaLote">
      <wsdl:input message="tns:ConsultaLoteSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:ConsultaLoteSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaInformacoesLote">
      <wsdl:input message="tns:ConsultaInformacoesLoteSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:ConsultaInformacoesLoteSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCNPJ">
      <wsdl:input message="tns:ConsultaCNPJSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:ConsultaCNPJSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoteNFeSoap" type="tns:LoteNFeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EnvioRPS">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/envioRPS" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioLoteRPS">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/envioLoteRPS" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TesteEnvioLoteRPS">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/testeenvio" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelamentoNFe">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/cancelamentoNFe" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNFe">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaNFe" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNFeRecebidas">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaNFeRecebidas" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNFeEmitidas">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaNFeEmitidas" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaLote">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaLote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaInformacoesLote">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaInformacoesLote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCNPJ">
      <soap:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaCNPJ" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoteNFeSoap12" type="tns:LoteNFeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EnvioRPS">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/envioRPS" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnvioLoteRPS">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/envioLoteRPS" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TesteEnvioLoteRPS">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/testeenvio" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelamentoNFe">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/cancelamentoNFe" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNFe">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaNFe" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNFeRecebidas">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaNFeRecebidas" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaNFeEmitidas">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaNFeEmitidas" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaLote">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaLote" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaInformacoesLote">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaInformacoesLote" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaCNPJ">
      <soap12:operation soapAction="http://www.prefeitura.sp.gov.br/nfe/ws/consultaCNPJ" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoteNFe">
    <wsdl:port name="LoteNFeSoap12" binding="tns:LoteNFeSoap12">
      <soap12:address location="https://caioba/axis2/services/LoteNFe?wsdl"/>
    </wsdl:port>
    <wsdl:port name="LoteNFeSoap" binding="tns:LoteNFeSoap">
      <soap:address location="https://caioba/axis2/services/LoteNFe?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
